*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    padding: 10px;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.hero{
    height: 100vh;
    background-image: url('image/hero.jpg');
    background-size: cover;
    width: 100%;
}
.hero-text{
    margin-top: 200px;
    margin-left: 200px;
}
.hero-text h1{
    width: 50%;
    font-size: 5rem;
}
.inline{
    width: 450px;
}
.input-field{
    width: 300px;
    padding: 8px 8px 8px 30px;
    border: 1px solid grey;
}
.input-icon .sec-search{
    position: absolute;
    padding: 10px;
    min-width: 20px;
}
.hero-btn{
    padding: 8px 20px;
    background-color: #ff8800;
    border: none;
    color: #fff;
}
.about-section{
    height: 100vh;
    background-image: url('image/about-bg.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
    background-color: #fff;
    opacity: 0.2;
    /* z-index: 1; */
}
.text-area{
    width: 500px;
    /* height: 700px; */
    position: absolute;
    top: 12%;
    left: 35%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    z-index: 1;
}
.text-area h1{
    margin-top: 100px;
    font-size: 3.5rem;
}
.text-area p{
    margin-top: 20px;
    text-align: justify;
}
.text-area button{
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.food-sec{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}
.food-img img{
    width: 200px;
    float: left;
    height: 300px;
    margin: 20px;
}
.order-section h5{
    text-align: center;
}
.order-section h2{
    text-align: center;
}
.order-section{
    text-align: center;
}
.order-section{
    margin: 0 auto;
    width: 400px;
    margin-bottom: 5vh;  
    padding: 0;
    border-bottom: 2px solid rgba(119, 119, 119, 0.2);
    list-style: none;
    display: table;
}

.order-section{
    display: table-cell;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
    font-weight: 700;
}